.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.form-section h1 {
  padding: 16px;
  color: var(--primary);
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 50px;
}

.form-container {
  width: 60%;
}
