
.mat-elevation-z8 {
  width: 100%;
  max-height: 300px !important;
  overflow-y: auto !important;
}

table {
  width: 100%;
  background-color: white;
}

.attachment-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.attachment-container:nth-child(2){
  background-color: blue !important;
}

.actions{
  display: flex;
}

mat-paginator {
  background-color: white;
}

.attachment_th {
  text-align: center;
}

.attachment_button {
  background-color: var(--btn-ternary);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.attachment_button.download{
  background-color: var(--btn-secondary);
}

.attachment_button.delete{
  background-color: red;
}

.action_button {
  background-color: var(--btn-ternary);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.action_button a{
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 20px;
}

.header_text {
  font-size: 24px;
  padding-left: 20px;
}

.header_button {
  background-color: var(--btn-secondary) !important;
}
