<h2 mat-dialog-title>Attach certificate</h2>
<mat-dialog-content class="dialog">
  <form [formGroup]="fileForm">
    <input
      class="file_button"
      type="file"
      #fileInput
      accept="application/pdf"
      (change)="onFileSelected($event)"
    />
    <button
      mat-icon-button
      class="reset_button"
      type="button"
      (click)="resetFile()"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button
      mat-flat-button
      class="dialog_button"
      [disabled]="!fileForm.valid"
      type="submit"
    >
      Upload certificate
    </button>
  </form>
</mat-dialog-content>
