<main class="nav-container">
  <div class="navbar">
    <div class="logo-container">
      <a routerLink="">
        <img src="logo.png" alt="logo">
      </a>
    </div>
    <div class="options">
      <nav class="nav-link">
        <ul>
          @if(hasAccess('wallet')){
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">Wallet</a></li>
          }
          @if(hasAccess('products')){
            <li><a routerLink="products" routerLinkActive="active" class="nav-item">Products</a></li>
          }
          @if(hasAccess('certificates')){
            <li><a routerLink="certificates" routerLinkActive="active" class="nav-item">Certificates</a></li>
          }
          @if(hasAccess('contracts')){
            <li><a routerLink="contracts" routerLinkActive="active" class="nav-item">Contracts</a></li>
          }
          @if(hasAccess('companies')){
            <li><a routerLink="companies" routerLinkActive="active" class="nav-item">Companies</a></li>
          }
          <!-- @if(hasAccess('logs')){
            <li><a routerLink="logs" routerLinkActive="active" class="nav-item">Logs</a></li>
          } -->
        </ul>
      </nav>
      <div class="btn-container">
          <button class="button" mat-button disabled appearance="outline">
              <mat-icon>person</mat-icon>
              Hi, {{ username }}
          </button>
          <button class="btn-primary" mat-flat-button (click)="logout()">
              <mat-icon>logout</mat-icon>
              Logout
          </button>
      </div>
    </div>
  </div>
  <div class="breadcrumb">
    @if (!isWalletRoute()) {
      <app-breadcrumb></app-breadcrumb>
    }
  </div>
</main>
<div >


