
<div>
    <h3 class="header_text">Contracts</h3>
      @if (!isAdmin()) {
      <section class="header_options">
        <mat-form-field appearance="outline">
          <mat-label>Select an option</mat-label>
          <mat-select [(value)]="selected" (selectionChange)="updateTable()">
            <mat-option value="all_contracts">All contracts</mat-option>
            <mat-option value="recieved_contracts">Recieved contracts</mat-option>
            <mat-option value="emitted_contracts">Emitted contracts</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-flat-button class="header_button" (click)="addContract()"><mat-icon>add</mat-icon>Add contract</button>
    </section>
    }
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Emitter Column -->
    <ng-container matColumnDef="emitter">
      <th mat-header-cell *matHeaderCellDef> Emitter </th>
      <td mat-cell *matCellDef="let element"> {{element.emitter}} </td>
    </ng-container>

    <!-- Receiver Column -->
    <ng-container matColumnDef="receiver">
      <th mat-header-cell *matHeaderCellDef> Receiver </th>
      <td mat-cell *matCellDef="let element"> {{element.receiver}} </td>
    </ng-container>

    <!-- WorkType Column -->
    <ng-container matColumnDef="workType">
      <th mat-header-cell *matHeaderCellDef> WorkType </th>
      <td mat-cell *matCellDef="let element"> {{element.workType}} </td>
    </ng-container>

    <!-- Button Column -->
    <ng-container matColumnDef="attachment">
      <th mat-header-cell *matHeaderCellDef class="attachment_th"> Attachment </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button class="attachment_button"><span class="material-symbols-outlined">file_save</span></button>
      </td>
    </ng-container>

    @if (isAdmin()) {
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action_th"> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button class="action_button"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 15]"
                showFirstLastButtons
                aria-label="Select page of periodic elements">
</mat-paginator>

