
table {
  background-color: white;
}

.mat-elevation-z8{
  width: 100%;
  max-height: 300px !important;
  overflow-y: auto !important;
}

mat-paginator{
  background-color: white;
}

.attachment_th, .action_th {
  text-align: center;
}

.attachment_button, .action_button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.attachment_button {
  background-color: var(--btn-ternary);
}

.action_button {
  background-color: red;
}

.header_text{
  padding-left: 20px;
  float:left;
  font-size: 24px;
 }

.header_options{
  float:right;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  position: relative;

 }

.header_button{
  background-color: var(--btn-secondary) !important;
}
