<h2 mat-dialog-title>New Contract</h2>
<form [formGroup]="newContractForm">

  <mat-dialog-content class="dialog">
    <mat-form-field appearance="outline">
      <mat-label>Receiver</mat-label>
      <mat-select [(value)]="selectedReceiver" formControlName="receiver">
        <mat-option value="beta">Beta</mat-option>
        <mat-option value="delta">Delta</mat-option>
        <mat-option value="gamma">Gamma</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Work Type</mat-label>
      <mat-select [(value)]="selectedWorkType" formControlName="work">
        <mat-option value="transport">Transport</mat-option>
        <mat-option value="seed">Seed</mat-option>
        <mat-option value="packaging">Packaging</mat-option>
      </mat-select>
    </mat-form-field>

    <input class="file_button" #fileInput type="file" accept="application/pdf" (change)="onSelectFile($event)"/>
    <button mat-icon-button class="reset_button" type="button" (click)="reset()"><mat-icon >delete_outline</mat-icon></button>
    <button mat-flat-button class="btn-primary" type = "button" (click)="createContract()" [disabled]="!newContractForm.valid || !uploadEnabled">Create new contract</button>

  </mat-dialog-content>
</form>
