<app-table-header (changeFilterEvent)="filterData($event)"></app-table-header>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="table">

    <!-- Transaction ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Transaction ID"> Transaction ID </th>
      <td mat-cell *matCellDef="let transaction" class="id-column"> {{ transaction.id }} </td>
    </ng-container>

    <!-- Sender Column -->
    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.sender }} </td>
    </ng-container>

    <!-- Receiver Column -->
    <ng-container matColumnDef="receiver">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.receiver }} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Amount"> Amount </th>
      <td mat-cell *matCellDef="let transaction" class="amount-column"> {{ transaction.amount }} FT </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Date"> Date </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.date | date: 'dd/MM/yyyy' }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of transactions" class="paginator">
  </mat-paginator>
</div>
