:root {
  --primary: #60B45A;
  --secondary: #205072;
  --btn-primary: #60B45A;
  --btn-secondary: #205072;
  --btn-ternary: #329D9C;
  --btn-text: #FFF;
  --href-primary: #205072;
  --href-secondary: #329D9C;
  --nav-link: #329D9C;
  --breadcrumb-link: #CFF4D2;
  --mat-datepicker: white;
  --linear-gradient: linear-gradient(135deg, var(--secondary), var(--primary) 68%);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg {
  background: var(--linear-gradient);
  height: 100vh;
}

.btn-primary {
  padding: 24px !important;
  background-color: var(--btn-primary) !important;
  color: #FFF !important;
}

.btn-secondary{
  padding: 0px 20px 0px 20px !important;
  background-color: var(--btn-secondary) !important;
  color: #FFF !important;
}

.btn-primary:disabled {
  opacity: 0.5;
}
