<h2 mat-dialog-title>New Work</h2>
<mat-dialog-content>
  <form [formGroup]="newWorkForm" (ngSubmit)="createWork()">
    <mat-form-field appearance="outline">
      <mat-label>Work Type</mat-label>
      <mat-select [(value)]="selectedWorkType" formControlName="work" (selectionChange)="onSelectionChange($event.value)">
        <mat-option value="transport">Transport</mat-option>
        <mat-option value="seed">Seed</mat-option>
        <mat-option value="packaging">Packaging</mat-option>
      </mat-select>
    </mat-form-field>

    @if(isReceiverVisible){
      <mat-form-field appearance="outline">
        <mat-label>Receiver</mat-label>
        <mat-select [(value)]="selectedReceiver" formControlName="receiver">
          <mat-option value="alfa">Alfa</mat-option>
          <mat-option value="delta">Delta</mat-option>
          <mat-option value="gamma">Gamma</mat-option>
        </mat-select>
      </mat-form-field>
    }

    <mat-form-field appearance="outline" >
      <mat-label>Choose a date</mat-label>
      <input matInput  [matDatepicker]="picker" formControlName="workDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker panelClass="custom-datepicker"></mat-datepicker>
    </mat-form-field>

    <div class="file">
      <label for="fileUp" class="fileUplabel">
        Upload bill
        <span *ngIf="isReceiverVisible"> and transport documents</span>
      </label>
      <div class="file_button">
        <input type="file" #fileInput id="fileUp" (change)="onFileSelected($event)" accept="application/pdf" [attr.multiple]="isReceiverVisible ? '' : null" />
        <button mat-icon-button class="reset_button" type="button" (click)="resetFile()"><mat-icon>delete_outline</mat-icon></button>
      </div>
    </div>

    <button mat-flat-button class="dialog_button" [disabled]="!newWorkForm.valid">Create new work</button>

  </form>
</mat-dialog-content>
