<h2 mat-dialog-title>New Work</h2>
<mat-dialog-content>
  <form [formGroup]="newWorkForm" >
    <mat-form-field appearance="outline">
      <mat-label>Work Type</mat-label>
      <mat-select [(value)]="selectedWorkType" formControlName="work" (selectionChange)="onSelectionChange($event.value)">
       @for (productLifeCycleCategory of productLifeCycleCategories; track $index) {
          <mat-option [value]="productLifeCycleCategory.name"> {{ productLifeCycleCategory.name }} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if(isReceiverVisible){
      <mat-form-field appearance="outline">
        <mat-label>Receiver</mat-label>
        <mat-select [(value)]="selectedReceiver" formControlName="receiver">
          @for (supplyChainPartner of supplyChainPartners; track $index) {
          <mat-option [value]="supplyChainPartner.name"> {{ supplyChainPartner.name }} </mat-option>
        }
        </mat-select>
      </mat-form-field>
    }

    <mat-form-field appearance="outline" >
      <mat-label>Choose a date</mat-label>
      <input matInput  [matDatepicker]="picker" formControlName="workDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker panelClass="custom-datepicker"></mat-datepicker>
    </mat-form-field>

    <label class="label_emissions">
      Emissions calculated by the sistem:
      <p class="emissions" #emissions></p>
    </label>

    <div class="file">
      <div class="bill">
        <label for="billUp" >
          Upload bill
        </label>
        <div class="file_button">
          <input type="file" #billFile id="billUp" accept="application/pdf" (change)="onSelectFile($event)"/>
          <button mat-icon-button class="reset_button" type="button" (click)="reset('bill')"><mat-icon>delete_outline</mat-icon></button>
        </div>
      </div>
      @if(isReceiverVisible){
        <div class="transport">
          <label for="transportUp">
            Upload transport document
          </label>
          <div class="file_button">
            <input type="file" #transportFile id="transportUp" accept="application/pdf" (change)="onSelectFile($event)"/>
            <button mat-icon-button class="reset_button" type="button" (click)="reset('transport')"><mat-icon>delete_outline</mat-icon></button>
          </div>
        </div>
       }
    </div>

    <button mat-flat-button class="dialog_button" (click)="createWork()" [disabled]="!isFormValid()">Create new work</button>

  </form>
</mat-dialog-content>
